<md-dialog aria-label="Harpoon - Help">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Harpoon - Help</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="dialog.cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<h2>How to use Harpoon</h2>
				<p>
					To create a new template, simply write the template and click on save.
				</p>
				<p>
					To overwrite a previous template, save the current template with the old name,<br>a Toast will ask for confirmation, press YES.
				</p>
				<p>
					To load a previous template, click on it's title in the list.
				</p>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="dialog.hide()">
				Thanks!
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
