<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
	<md-list flex>
		<md-subheader class="md-no-sticky">{{main.schemas.length}} APIs</md-subheader>
		<md-list-item class="md-3-line" ng-repeat="api in main.schemas track by $index">
			<img ng-src="{{api.avatar}}?{{$index}}" class="md-avatar" alt="{{api.title}}"/>
			<div class="md-list-item-text" layout="column">
				<h3>{{api.title}}</h3>
				<h4>{{api.createdOn}}</h4>
				<p>{{api.size}}</p>
			</div>
		</md-list-item>
	</md-list>
</md-sidenav>
<md-content flex layout="row" id="content">
	<div flex>
		<md-toolbar>
			<div layout="row" layout-align="space-between center" class="md-toolbar-tools">
				<h2>Format JSON</h2>
				<md-button ng-click="main.generate()">
					<md-icon class="md-light">send</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div layout-fill ui-ace="{theme:'monokai', mode:'json', onLoad:formatEditor}" ng-model="code"></div>
	</div>
	<div flex>
		<md-toolbar>
			<div layout="row" layout-align="space-between center" class="md-toolbar-tools">
				<h2>Generated JSON</h2>
				<md-button>
					<md-icon class="md-light">content_copy</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div ui-ace="{theme:'ambiance', mode:'json', showGutter:false, onLoad:jsonViewer}" ng-model="result"></div>
	</div>
</md-content>
